.fp-MenuContent {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  padding: var(--space-2) 0;
  background-color: var(--color-bg-menu);
  border-radius: var(--radius-default);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-menu);
  color: var(--color-text-menu);
  box-shadow: var(--elevation-400);
}

.fp-MenuItem {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--space-6);
  padding: 0 var(--space-4);
  fill: var(--color-icon-menu);
  color: var(--color-text-menu);
  white-space: nowrap;

  &[data-highlighted] {
    outline: 0;
    background-color: var(--color-bg-menu-selected);
  }

  &[data-disabled] {
    color: var(--color-text-menu-tertiary);
  }
}

.fp-MenuSeparator {
  margin: var(--space-2) 0;
  height: 1px;
  background-color: var(--color-border-menu);
}

.fp-MenuLabel {
  display: flex;
  align-items: center;
  height: var(--space-6);
  padding: 0 var(--space-4);
  color: var(--color-text-menu-tertiary);
}

.fp-MenuGroup {
  padding: var(--space-2) 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-border-menu);
  }
}

.fp-MenuSubtriggerCaret {
  margin-left: auto;
  margin-right: calc(-1 * var(--space-1));
  padding-left: var(--space-6);
}

.fp-MenuCheckboxItem,
.fp-MenuRadioItem {
  padding-left: var(--space-8);
}

.fp-MenuItemIndicator {
  position: absolute;
  left: var(--space-2);
}
