.fp-IconButton {
  box-sizing: border-box;
  background-clip: border-box;
  background-color: transparent;
  user-select: none;
  appearance: none;
  border: 0;
  padding: 0;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--figma-color-icon);
  border-radius: var(--radius-medium);

  &:where(:hover:not(:disabled)) {
    background-color: var(--figma-color-bg-pressed);
  }

  &:focus-visible {
    outline-offset: -1px;
    outline: 1px solid var(--figma-color-border-selected);
  }

  &:disabled {
    color: var(--figma-color-icon-disabled);
  }
}

.fp-IconButton:where(.fp-variant-default) {
  width: var(--space-6);
  height: var(--space-6);

  &[data-state='open'] {
    background-color: var(--figma-color-bg-selected);
    color: var(--figma-color-icon-brand);
  }
}

.fp-IconButton:where(.fp-variant-toolbar) {
  width: var(--space-8);
  height: var(--space-8);

  &[data-state='open'] {
    background-color: var(--figma-color-bg-brand-pressed);
    color: var(--figma-color-icon-onbrand);
  }
}
