.fp-iconButton {
  box-sizing: border-box;
  background-clip: border-box;
  background-color: transparent;
  user-select: none;
  appearance: none;
  border: 0;
  padding: 0;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--space-8);
  height: var(--space-8);
  border-radius: var(--radius-extra-small);
  fill: var(--button-color-icon);

  &:hover:not(:disabled) {
    background-color: var(--figma-color-bg-pressed);
  }

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--figma-color-border-selected);
  }

  &:disabled {
    fill: var(--figma-color-icon-disabled);
  }
}
