:root {
  --color-bg-menu: #1e1e1e;
  --color-bg-menu-selected: var(--figma-color-bg-selected-strong);
  --color-text-menu: var(--figma-color-text-oncomponent);
  --color-text-menu-secondary: var(--figma-color-text-oncomponent-secondary);
  --color-text-menu-tertiary: var(--figma-color-text-oncomponent-tertiary);
  --color-icon-menu: var(--figma-color-icon-oncomponent);
  --color-border-menu: #383838;
  --font-size-menu: 12px;
}
