.fp-ValueFieldRoot {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
  padding: 0 1px;
  outline-offset: -1px;
  background-color: var(--figma-color-bg-secondary);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  line-height: var(--line-height-default);

  &:hover {
    outline: 1px solid var(--figma-color-border);
  }

  &:focus-within {
    outline: 1px solid var(--figma-color-border-selected);
  }

  .fp-ValueFieldBase {
    border-width: 0;
  }
}

.fp-ValueFieldBase {
  cursor: default;
  outline: 0;
}

.fp-ValueFieldLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  color: var(--figma-color-text-secondary);
  height: var(--space-6);
  width: var(--space-6);

  /* Usually used for suffixes.
  TODO: Replace with a variant.  */
  &:last-child {
    width: var(--space-5);
  }

  & + .fp-ValueFieldBase {
    padding-left: 0;
  }
}

.fp-ValueFieldMulti {
  display: flex;
  border-radius: var(--radius-medium);
  outline-offset: -1px;
  box-sizing: border-box;
  border: 1px solid transparent;
  height: var(--space-6);
  background-color: var(--figma-color-bg-secondary);

  &:hover {
    border: 1px solid var(--figma-color-border);
  }

  &:focus-within {
    outline: 1px solid var(--figma-color-border-selected);
  }

  .fp-ValueFieldRoot {
    height: var(--space-6);
    flex-grow: 1;
    outline: 0;
    border-radius: 0;
    background-color: transparent;
    margin-top: -1px;

    &:not(:first-child) {
      border-left: 1px solid var(--figma-color-bg);
    }

    &:first-child {
      border-top-left-radius: var(--radius-medium);
      border-bottom-left-radius: var(--radius-medium);
    }

    &:last-child {
      border-top-right-radius: var(--radius-medium);
      border-bottom-right-radius: var(--radius-medium);
    }
  }

  .fp-ValueFieldBase {
    background-color: transparent;
    padding-left: calc(var(--space-2) - 1px);
  }
}
