.fp-Text {
  margin: 0;
  font-family: var(--font-family-default);
  color: var(--figma-color-text);

  &:where(.fp-size-small) {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
  }

  &:where(.fp-size-medium) {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
  }

  &:where(.fp-size-large) {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
  }

  &:where(.fp-weight-default) {
    font-weight: var(--font-weight-default);
  }

  &:where(.fp-weight-strong) {
    font-weight: var(--font-weight-strong);
  }

  &:where(.fp-align-start) {
    text-align: start;
  }

  &:where(.fp-align-center) {
    text-align: center;
  }

  &:where(.fp-align-end) {
    text-align: end;
  }

  &:where(.fp-block) {
    display: block;
  }

  & strong {
    font-weight: var(--font-weight-strong);
  }

  & code {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-2);
    background-color: var(--figma-color-bg-brand-tertiary);
    padding: 0.05rem 0.15rem;
    border-radius: var(--radius-extra-small);
  }

  mark {
    background-color: var(--figma-color-bg-onselected);
  }
}
