.fp-SelectTrigger {
  all: unset;
  appearance: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--space-1);
  width: 100%;
  padding: 0 0 0 var(--space-2);
  height: var(--space-6);
  border: 1px solid var(--figma-color-border);
  border-radius: var(--radius-medium);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  color: var(--figma-color-text);
}

.fp-SelectTriggerIcon {
  margin-left: auto;
}

.fp-SelectScrollUpButton,
.fp-SelectScrollDownButton {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--space-6);
  background-color: var(--color-bg-menu);
  --color-icon: var(--color-icon-menu);

  &:hover {
    background-color: var(--color-bg-menu-hover);
  }
}

.fp-SelectScrollUpButton {
  top: 0;
  border-radius: var(--radius-large) var(--radius-large) 0 0;
}

.fp-SelectScrollDownButton {
  bottom: 0;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
}
