:root,
.light,
.light-theme {
  --slider-root-size: var(--space-6);
  --slider-track-size: var(--space-4);
  --color-border-slider-track: #0000001a;
}

.dark,
.dark-theme {
  --color-border-slider-track: #ffffff1a;
}

.fp-sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  outline: 0;

  &[data-orientation='horizontal'] {
    height: var(--slider-root-size);
  }

  &[data-orientation='vertical'] {
    flex-direction: column;
    width: var(--slider-root-size);
  }
}

.fp-sliderTrack {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--figma-color-bg-secondary);
  border-radius: var(--radius-full);
  outline: 1px solid var(--figma-color-border);
  outline-offset: -1px;

  &[data-orientation='horizontal'] {
    height: var(--slider-track-size);
  }

  &[data-orientation='vertical'] {
    width: var(--slider-track-size);
  }
}

.fp-sliderRange {
  position: absolute;
  display: block;
  background-color: var(--figma-color-bg-brand);
  border-radius: var(--radius-full);

  &[data-orientation='horizontal'] {
    height: var(--slider-track-size);
  }

  &[data-orientation='vertical'] {
    width: var(--slider-track-size);
  }
}

.fp-sliderThumb {
  display: block;
  width: var(--slider-track-size);
  height: var(--slider-track-size);
  background-color: var(--figma-color-icon-onbrand);
  border-radius: var(--radius-full);
  box-shadow: var(--elevation-200);
  outline: 0;

  &.fp-sliderThumb-focusVisible:focus-visible {
    outline: 1px solid var(--figma-color-border-selected);
  }
}
