.fp-SegmentedControlRoot {
  display: inline-flex;
  background-color: var(--figma-color-bg-secondary);
  border-radius: var(--radius-medium);

  &:where(.fp-full-width) {
    display: flex;
  }
}

.fp-SegmentedControlItem {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex: 1 0 auto;
  min-width: var(--space-6);
  height: var(--space-6);
  background-color: transparent;
  border-radius: var(--radius-medium);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  line-height: var(--line-height-default);
  white-space: nowrap;
  --color-icon: var(--figma-color-icon-secondary);

  &[aria-checked='true'] {
    --color-icon: var(--figma-color-icon);
    background-color: var(--figma-color-bg);
    box-shadow: inset 0 0 0 var(--space-px) var(--figma-color-border);
  }

  &:focus-visible {
    outline: 1px solid var(--figma-color-border-selected);
    outline-offset: -1px;
  }

  &:disabled {
    --color-icon: var(--figma-color-icon-disabled);
  }
}

.fp-SegmentedControlText {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  gap: var(--space-1_5);

  [data-disabled] & {
    color: var(--figma-color-text-disabled);
  }
}
