.fp-Input {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: var(--space-6);
  padding: var(--space-1) 0 var(--space-1) var(--space-2);
  background-color: var(--figma-color-bg-secondary);
  border-radius: var(--radius-medium);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  line-height: var(--line-height-default);
  color: var(--figma-color-text);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: transparent;

  &:hover:where(:not(:disabled, :focus)) {
    outline-color: var(--figma-color-border);
  }

  &:focus {
    outline-color: var(--figma-color-border-selected);
  }

  &:disabled {
    background-color: var(--figma-color-bg);
    outline-color: var(--figma-color-border-disabled);
    color: var(--figma-color-text-disabled);
  }

  &::placeholder {
    color: var(--figma-color-text-tertiary);
  }
}
