.fp-inputBase {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: var(--space-7);
  padding: 0 0 0 0.4375rem;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  border-radius: var(--radius-default);
  border-width: 1px;
  border-style: solid;

  &:focus {
    outline-offset: -1px;
    outline: 2px solid var(--figma-color-border-selected);
  }

  &:disabled {
    color: var(--figma-color-text-disabled);
  }

  &::placeholder {
    color: var(--figma-color-text-tertiary);
  }

  &:where(.fp-base) {
    border-color: transparent;

    &:where(:focus) {
      outline: none;
    }
  }

  &:where(.fp-normal) {
    border-color: var(--figma-color-border);
  }

  &:where(.fp-ghost) {
    border-color: transparent;

    &:not(:disabled):hover {
      border-color: var(--figma-color-border);
    }
  }

  &:where(.fp-underline) {
    border-color: transparent;
    background: linear-gradient(to right, transparent 6px, var(--figma-color-border) 6px);
    background-size: calc(100% - 6px) 1px;
    background-position: left bottom -1px;
    background-repeat: repeat-x;

    &:not(:disabled):hover {
      border-color: var(--figma-color-border);
    }
  }
}
