.fp-ControlInputRoot {
  display: flex;
  align-items: center;
  border-radius: var(--radius-base);
  border: 1px solid transparent;

  &:hover {
    border-color: var(--figma-color-border);
  }

  &:focus-within {
    outline-offset: -1px;
    outline: 2px solid var(--figma-color-border-selected);
  }
}

.fp-ControlInputBase {
  cursor: default;

  .fp-ControlInputRoot & {
    border: 0;
  }
}
