:root {
  --font-size-1: 0.5625rem;
  --font-size-2: 0.625rem;
  --font-size-3: 0.6875rem;
  --font-size-4: 0.75rem;
  --font-size-5: 0.8125rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.9375rem;
  --font-size-8: 1rem;
  --font-size-9: 1.0625rem;
  --font-size-10: 1.125rem;
  --font-size-11: 1.1875rem;
  --font-size-12: 1.25rem;
  --font-size-13: 1.5rem;
  --font-size-14: 1.875rem;
  --font-size-15: 2.5rem;
  --font-size-16: 2.625rem;
  --font-size-17: 3rem;
  --font-size-18: 3.75rem;
  --font-size-default: var(--font-size-3);
}
