:root {
  --line-height-1: 1rem;
  --line-height-2: 1rem;
  --line-height-3: 1rem;
  --line-height-4: 1rem;
  --line-height-5: 1.5rem;
  --line-height-6: 1.5rem;
  --line-height-7: 1.5rem;
  --line-height-8: 1.5rem;
  --line-height-9: 1.5rem;
  --line-height-10: 1.5rem;
  --line-height-11: 2rem;
  --line-height-12: 2rem;
  --line-height-13: 2rem;
  --line-height-14: 2.5rem;
  --line-height-15: 3.5rem;
  --line-height-16: 3.5rem;
  --line-height-17: 4rem;
  --line-height-18: 5rem;
}
